.dashboard {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard__secondary-menu {
    display: flex;
    flex-direction: row;
}

.dashboard__lottery-form {
    border: 1px solid grey;
    border-radius: 1rem;
    background: linear-gradient(90deg, #302d2f, #0f0f0f);
    padding: 2rem 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    p {
        width: 200px;
        font-size: 0.7rem;
        word-wrap: break-word;
        white-space: normal;
    }
}

.dashboard__input {
    padding: 1rem;
    border-radius: 3rem;
    color: #000;
}

.dashboard__submit-button {
    padding: 1rem;
    border: none;
    background: linear-gradient(to left, #ec008c, #fc6767);
    border-radius: 3rem;
    cursor: pointer;
}

.dashboard__connect-wallet-button {
    padding: 1rem;
    border: none;
    background: linear-gradient(to left, #f953c6, #b91d73);
    border-radius: 3rem;
    cursor: pointer;
}
