.tweet {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid grey;
    word-wrap: break-word;

    h3 {
        margin: 0.5rem;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 1rem;
    }
}

.tweet__tip-form {
    margin: 1rem;

}

.tweet__input {
    padding: 0.5rem;
    border-radius: 3rem;
    color: #000;
}

.tweet__submit-button {
    padding: 0.5rem;
    border: none;
    background: linear-gradient(to left, #f953c6, #b91d73);
    border-radius: 3rem;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    .tweet {
        padding: 1rem;

        h3 {
            margin: 1rem;
            width: 90%;
        }

        p {
            margin: 1rem;
        }
    }
}