.tweet-feed {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .tweet-feed {
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    .tweet-feed {
        width: 50%;
    }
}